.tweets {
    border-color: rgba(128, 128, 128, 0.562);
    .tweet {
        transition: 0.2s ease-in-out;
        &:hover {
            background: #f7f7f7;
        }

        .tweet__img {
            height: 18rem;
            width: 100%;
            object-fit: cover;
        }
    }
}
