// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: rgb(29, 161, 242);
$dark: black;
$lightblue: #e8f5fe;
$light: #fff;

$border-radius-lg: 1.25rem;
